#addresses-container {
    margin: 50px 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.address-input {
    background-color: white;
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address-input > .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.address-input > .fake-input {
    background-color: #f2f4f7;
    height: 40px;
    border-radius: 10px;
    margin-left:  40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.fake-input > .input-text {
    color: #c5c5c5;
    margin-left: 30px;
    user-select: none;
}

.fake-input > #real-input {
    color: black;
    font-weight: bold;
}

#fake-autocomplete {
    border-top: 2px solid #f2f4f7;
}

#fake-autocomplete > div {
    margin-top: 15px;
    padding-left: 80px;
}
