@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
/*On ne peut pas check l'integrity dans le css*/

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#message-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#message-container custom-widget {
    padding-left: 8px;
    padding-right: 6px;
}

#right-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#right-container custom-widget {
    padding: 20px;
}

#title {
    position: fixed;
    bottom: 10px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
}

#pos-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 5px !important;
    height: 30px;
    width:  30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pos-button > img {
    height: 80%;
    aspect-ratio: 1;
}

#pos-button:hover {
    cursor: pointer;
}

#pop-up-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#pop-up-content > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
