#instructions-container {
    margin: 50px 0 0 auto;
    height: 180px;
    width: 70%;
    display: flex;
    gap: 30px;
}

#instructions {
    background-color: white;
    height: 100%;
    width: 80%;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#instructions > div {
    flex: 1;
    text-align: center;
    align-items: center;
}

#muteContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#buttonMute{
    border: none;
    background: none;
}

#buttonMute>img {
    width: 20px;
    height: 20px;
}


.part{
    border-bottom: black 1px solid;
}

#imgInstr{
    width: 50px;
    height: 50px;
}

#imgFlag{
    width: 50px;
    height: 50px;
    margin-left: 0;
}

#finish {
    display: flex;
    gap: 10px;
    justify-content: center;
}
