#instructions-container {
    margin: 50px 20px 0 auto;
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#instructions {
    background-color: white;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#instructions > div {
    flex: 1;
    text-align: center;
}

.part{
    border-bottom: black 1px solid;
}

#buttonMute{
    display: flex;
    border: none;
    background: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#buttonMute>img {
    width: 20px;
    height: 20px;
}

#imgInstr{
    width: 50px;
    height: 50px;
}

#imgFlag{
    width: 50px;
    height: 50px;
    margin-left: 0;
}

#finish {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}
