#popup {
    background-color: white;
    height: 50px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 15px auto;
}

#popup > .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#popup > .timer {
    position: absolute;
    left: 10px;
}

#popup .button {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#popup .button img {
    width: 20px;
    height: 20px;
}
