body {
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#title {
    position: fixed;
    bottom: 10px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
}

#pos-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 5px !important;
    height: 30px;
    width:  30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pos-button > img {
    height: 80%;
    aspect-ratio: 1;
}

#pos-button:hover {
    cursor: pointer;
}

#map-view {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../assets/mapp.png");
    background-size: cover;
}
